<!-- CONTENT ENDS HERE -->
        <d-appendix>
        
          <h3>Contributions</h3>
          <p>Some text describing who did what.</p>
          <h3>Reviewers</h3>
          <p>Some text with links describing who reviewed the article.</p>
        
          <d-bibliography src="bibliography.bib"></d-bibliography>
        </d-appendix>
      <distill-footer></distill-footer>
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
  </body>
</html>
